*
{
    padding: 0;
    margin: 0;
}

.flex-container
{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.flex-item
{
    height: 150px;
    width: 200px;
    margin: 20px;
    background-color: lightblue;
    border: 5px solid skyblue;
}

.food-container
{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
}
.food-item
{
    height: 220px;
    margin: 20px;
    width: 180px;
    border: 5px solid gray;
    padding: 5px;
}
.food-item img
{
    height: 180px;
    width: 100%;
}
.food-item h4
{

}
.food-item h6
{

}